* {
    margin: 0px;
    list-style-type: none;
}

@media  screen and (min-width:360px) {
    body {
        margin: 0px;
        list-style-type: none;
    }
    

    #image {
        background: linear-gradient(rgb(41, 192, 41), rgb(35, 182, 35), rgb(38, 179, 38));
    }

    #title {
        font-size: 25px;
        padding: 10px;
        margin-left: 60px;
        margin-right: 40px;
        margin-top: 30px;
        font-family: 'Yellowtail', cursive;




    }

    #image-cat {
        width: 80px;
        height: 80px;
        margin-top: 60px;
        margin-left: 80px;
    }

    .navbar {
        position: relative;
        background-color: brown;
        border: 1px solid white;

    }

    .nav-item {
        margin: 5px;

    }

    .nav-link {
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 1px black;
        font-family: 'Yellowtail', cursive;
        font-size: 20px;
        margin-left: 70px;


    }

    #accueil {
        margin: 10px;
        font-family: 'Yellowtail', cursive;
        font-size: 32px;
        /* color: #d31501; */
        text-shadow: 1px 2px 2px rgb(216, 218, 226);
    }

    .categorie {
        background: linear-gradient(135deg, rgb(224, 210, 210), rgb(238, 227, 227), rgb(221, 212, 212));
        padding-bottom: 15px;

    }

    #list {
        display: flex;
        align-items: center;
        margin-right: 30px;
        position: relative;

    }

    li>a {
        color: rgb(0, 0, 0);
        list-style-type: none;
        text-decoration: none;
        margin-right: 20px;
        font-size: 11px;
        font-family: 'Crimson Text', serif;
        font-weight: bold;


    }

    span {
        color: rgb(248, 244, 244);
        height: 50px;
        width: 50%;
        font-family: 'Crimson Text', serif;
        padding: 5px;
        text-shadow: 1px 2px 2px black;


    }

    #Petite-patte {
        margin-top: 15px;
        padding: 20px;
        text-align: center;
        color: rgb(37, 165, 80);
        text-shadow: 3px 3px 3px rgb(0, 0, 0);
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        font-weight: lighter;

    }

    .entete{
        background: linear-gradient(135deg, rgb(146, 199, 162), rgba(136, 182, 147, 0.842), rgba(103, 160, 125, 0.801));
        height: 70px;
    }

    .dropdown {
        background: linear-gradient(135deg, rgb(109, 161, 137), rgb(86, 184, 124), rgb(81, 180, 126));
    }

    #button-acc {
        background: linear-gradient(rgb(74, 184, 142), rgb(102, 206, 142), rgb(74, 177, 96));

    }

    #recherche {
        margin: 15px;
        border-radius: 30px;
        border: 1px solid rgb(10, 32, 235);
        box-shadow: 1px 1px 1px 1px rgb(103, 81, 223);
    }

    #question {
        margin-left: 12%;
        font-family: 'Courgette', cursive;
    }

    ::placeholder {
        color: rgb(157, 157, 201);
        font-size: 1.5em;
        font-family: 'Courgette', cursive;
        text-align: center;
        margin: 5px;
        font-size: 16px;
    }

    #name {
        font-family: 'Courgette', cursive;
        margin-left: 60px;
        color: #CD853F;


    }

    .para {
        font-family: 'Courgette', cursive;
        font-size: 16px;
        margin-right: 30px;
        margin-left: 30px;
        margin-top: 5px;
        color: rgb(18, 19, 18);
        text-shadow: 1px 1px 1px rgb(194, 207, 194);

    }
    

    .chaton {
        margin-left: 30px;

    }

    #lien {

        text-align: right;
        margin-right: 16px;
        font-family: 'Courgette', cursive;
        color: green;
        

    }


    #link-title {
        color: #ffffff;
        text-shadow: 1px 1px 1px black;
        text-decoration: none;
        margin-top: 20px;
        margin-right: 30px;
        font-size: 20px;
    }

    #name-chap {
        font-family: 'Courgette', cursive;
        margin-left: 60px;
        color: black, white;
    }

    #p-pat {
        color: #73b96d;
        text-shadow: 1px 1px 1px lightskyblue;
        font-size: 22px;
    }

    #name-grib {
        font-family: 'Courgette', cursive;
        margin-left: 60px;
        color: #b57d63;
    }

    #name-bdn {
        font-family: 'Courgette', cursive;
        margin-left: 60px;
        color: #0f44d3;
    }

    p {
        font-size: 1.5em;
        color: #FE7F88;
        background-color: transparent;
        background-image: none;
    }



    .cats {

        background-color: transparent;
        width: 100vw;
        height: 100vh;
        font-family: 'Manrope', sans-serif;
        font-size: 22px;
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 1px rgb(255, 255, 255);
        background: linear-gradient(rgb(218, 230, 221), rgb(225, 235, 225), rgb(215, 224, 215));
        border: 1px solid rgb(2, 2, 2);
        padding: 15px;




    }

    #titre-assoc {
        text-align: center;
    }

    #lien-loi {
        text-decoration: none;
        color: rgb(6, 114, 15);

    }

    #titre-adop {
        font-size: 25px;
        margin-right: 150px;
        color: rgb(60, 180, 126);
        font-weight: lighter;
        text-shadow: 1px 1px 1px rgb(255, 255, 255);
    }

    #chance {
        font-size: 18px;
        margin-right: 110%;
        color: rgb(33, 116, 78);
        font-weight: lighter;
        text-shadow: 1px 1px 1px rgb(250, 248, 248);
    }

    #deux-chat {
        background-color: transparent;
        width: 50vw;
        height: 25vh;
        border-radius: 50px;
    }

    #titre-head {
        font-size: 25px;
        font-family: 'Parisienne', cursive;
        color: rgb(113, 173, 113);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        font-weight: lighter;
    }

    .retour {
        font-size: 20px;
        color: black;
        font-family: 'Playball', cursive;
    }

    .link-acc {
        text-decoration: none;
    }
    #entete-adoption{
        background: linear-gradient(rgb(138, 194, 138),rgb(84, 190, 84),rgb(89, 184, 89));
        margin: 10px 0px;
        border-radius: 50px 20px;
        
    }
    #image-bebe-chat{
        margin: 0%;
        width: 100%;
        height: 100%; 
        
    }
    .police-write{
        color: rgb(46, 146, 46);
        text-align: center;
        font-family: 'Manrope', sans-serif;
        text-shadow:1px 1px 1px  black;
    }
    .para-write{
        color: rgb(44, 40, 40); 
        text-align: center;
        font-family: 'Courgette', cursive;
        font-size: 16px;
        
    }
    .adopt-chat{
        font-family: 'Manrope', sans-serif; 
        color: rgb(18, 92, 40); 
        font-size: 17px;
        text-decoration: none;
        text-shadow: 1px 1px 1px  rgb(245, 243, 243);
    }
    .condi{
        margin-left: 5px;
        color: rgb(59, 117, 59);
    }
    .lab{
        color: rgb(44, 77, 44);
    }
    #email-add{
        color: rgb(6, 7, 7);
        text-shadow: 1px 1px 1px rgb(172, 142, 142);
        font-family: 'Courgette', cursive;
        margin-left:75px;  
        
    }#inp-email{
        background:linear-gradient(135deg,rgb(72, 85, 72),rgb(123, 151, 115),rgb(81, 112, 72));
        border-radius: 50px 40px;
        padding: 10px;
        color: white;
    }
    #form-marg{
        margin: 15px;
    }
    .form-font{
        color: rgb(252, 249, 249);
        text-shadow: 1px 1px 1px rgb(3, 3, 3) ;
        background: linear-gradient(135deg, rgb(86, 141, 86),rgb(129, 172, 129),rgb(45, 66, 45));
        border-radius: 30px 100px 100px 30px;
        border: 1px dashed black;
        
        
    }
    #select-choice{
        background: linear-gradient(135deg, rgb(89, 119, 89),rgb(50, 82, 50),rgb(86, 128, 86));
        color: white;
        text-shadow: 1px 1px 1px rgb(3, 3, 3) ;
        font-family: 'Parisienne', cursive;  
    }
    #selection{
        color: rgb(31, 83, 21);
        font-family: 'Courgette', cursive; 
        
        
    }
    #commentaire{
        color: rgb(253, 253, 253);
        background: linear-gradient(135deg,rgb(54, 143, 54),rgb(46, 134, 46),rgb(50, 107, 50));
    }
    #notice{
        font-size: 16px;
        margin-left: 20px;
        background: linear-gradient(135deg,rgb(71, 131, 71),rgb(99, 172, 99),rgb(82, 151, 82));
        padding: 15px;
        color: rgb(245, 241, 241);
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
        border-radius: 12px;
        border: 1px solid white;
        font-weight: lighter;
        text-transform: capitalize;
        
    }
    .link-span{
        text-decoration: none;
        font-size: 20px;
        color: rgb(10, 51, 26);
        text-shadow: 1px 1px 1px rgb(240, 234, 234);
        
        
        
    }
    #parchemin{
        background-repeat: space;
        background-position: bottom;
        background-blend-mode: screen;
        background: linear-gradient(135deg, rgb(146, 199, 162), rgba(136, 182, 147, 0.842), rgba(103, 160, 125, 0.801));
        
    }
    #btn-adop{
        margin-left: 35%;
    }
    .recommandation{
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 1px rgb(233, 224, 224) ;
    }
    #contrat{
        background:linear-gradient(135deg,rgb(103, 129, 103),rgb(115, 141, 115),rgb(113, 146, 113));
        color: rgb(233, 219, 16);
        border-radius: 50px;
        text-shadow: 1px 1px 1px rgb(2, 2, 2) ;
    }
    #bloc-condi{
        color: rgb(36, 71, 43);
        text-shadow: 1px 1px 1px rgb(250, 249, 249) ;
        margin-right: 30px;
    }
    #bloc-text{
        font-size: 20px;
        
    }
    #titre-h{
        text-transform: capitalize;
        text-decoration: underline;
    }
    
    #petite-pat{
        width: 100VW;
        height: 200px;
        
        
    }
    #h-titre{
        font-family: 'Lexend', sans-serif;
        font-size: 18px;
        text-align: center;
        
    }
    #titre-triste{
        margin-top: 20px;
        
    }
    #back-ro{
        background:linear-gradient(135deg,rgb(120, 148, 120),rgb(106, 133, 106),rgb(106, 148, 106));
    }
    #para-triste,#titre-triste,.para-write,#h-titre{
        color: blanchedalmond;
        text-shadow: 1px 1px 1px black;
    }
    #div-titre{
        background:linear-gradient(135deg,rgb(104, 141, 104),rgb(113, 143, 113),rgb(113, 145, 113));
        border-radius: 5px;
    }
    #titre-bene{
        text-align: center;
    }
    #link-spa{
        text-decoration: none;
        color: orange;
    }
    #collecte{
        color: rgb(163, 163, 26);
        text-shadow: 1px 1px 1px black ;
        margin:50px 50px;

    }
    #mail{
        text-decoration: none;
        margin-left: 30px;
        margin-top: 20px;
        
    }
    #chatounet{
        margin-left:20%;
        border-radius: 20px;
        width: 200px;
        height: 80px;
    }
    #para-h5{
        font-size: 2em;
    }    
    @media screen and  (min-width:768px) {
        .form-font{
            width: 300px;
            margin-left: 225px;
            
        }
        #chatounet{
            margin-top: 20px;
            margin-left:200px;
            border-radius: 20px;
            width: 350px;
            height: 150px;
            
        }
        .card{
            width: 100vw;
            height: auto;
        }
        .entete{
            background-color: rgb(247, 236, 236);
        }
        #titre-adop{
            margin-left: 150px;
        }
        #chance{
            margin-left: 170px;
        }
        .carousel{
            width: 400px;
            height: auto;
            margin-left: 180px;
            border:1px solid black;
            
            
            
        }
    
        #button-acc{
            display: inline-flex;
            margin-bottom: 30px;
            position: absolute;
            bottom: 300px; left: 0px;
            border-radius: 50px;
            animation-name: moveTitle; 
            animation-duration: 10s;   
            animation-iteration-count: infinite; 
        }
        button{
            visibility: hidden;
            
        }
        #button-acc{
            position: relative; 
            top: 20px; 
            left: 0px;
        }
        #card-cat,#card-body-cat{
            width: 500px;
            margin-left: 100px;
            
        }
        #btn-adop{
            margin-left: 100px; 
            margin-top: 50px;
            width: 300px;
            height: 40px;
            text-align:50% ;
            font-size: 20px;
            border-radius: 20px;
            border: 2px solid black;
        }
        
        .retour{
            margin-top: 50px;
            color: rgb(219, 223, 24);
            font-size: 32px;
            margin-left: 20px;
        }
        .card-text ,.para-write{
            font-size: 20px;
            color: yellow;
        }
        #cute-cat{
            width: 50%;
            height: 50%;
            margin-left: 25%;
            border-radius: 50px 60px;
        }
        #email-add,#selection{
            margin-left: 42%;
            margin-bottom: 20px;
            text-transform: capitalize;

        }
        #select-choice{
            border-radius: 50px 20px;
        }
        p, .para, .condi{
            margin-left: 20%;
        }
        p, .para-write{
            margin-left: 35px;
        }
        #div-row{
            margin-right: 60px; 

        }
        #text-para{
            width: 24rem;
            font-size: 25px; 
            margin-left:15%;
            text-shadow: 1px 1px 1px rgb(8, 8, 8); 
            border: 1px dashed white;  
            color: white;
            background: linear-gradient(135deg,rgb(38, 114, 54),rgb(108, 146, 111),rgb(84, 223, 20));
            border-radius: 20px;
            padding: 5px;
        } 
        #card-card{
            background:linear-gradient(135deg,rgb(8, 58, 4),rgb(130, 173, 148),rgb(19, 153, 19)) ;
        }
        #commentaire{
            height: 10em;
            background: linear-gradient(135deg,rgb(87, 116, 87),rgb(31, 66, 31),rgb(27, 199, 27));
            font-family: 'Lexend', sans-serif;
            border: 1px solid black;
        }
        #contrat{
            margin-left: 45px;
            font-size: 22px;
        }
        #bloc-condi{
            font-size: 22px;
        }
        #zeb,#chap,#grib,#boul{
            width: 25em;
            border-radius: 50px ;
            margin-left: 15px;
            float: left;
            margin: 25px;
            padding: 25px;

            
        }
        #para-zeb,#para-grib,#para-chap,#para-boul{
            font-size: 22px;
            position: relative;
            margin: 15px;
            border:1px solid black ;
            padding: 15px;
            font-family: 'Caveat', cursive; 
            color: brown;
        }
        #selection{
            font-weight: bold;
        }
        #para-pre-z,#para-pre-c,#para-pre-g,#para-pre-b{
            text-shadow: 1px 1px 1px rgb(224, 213, 213);
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-weight: lighter;
            text-decoration-line: blink;
            font-size: 25px;
        }
        #para-pre-z{
            color: rgb(146, 95, 112);
        }
        #para-pre-c{
            color: rgb(14, 13, 13);
        }
        #para-pre-g{
            color: rgb(218, 153, 33);
        }
        #para-pre-b{
            color: rgb(43, 86, 204);
        }
        .background-div{
            background:linear-gradient(135deg,rgb(153, 97, 144),rgb(202, 184, 196),rgb(121, 85, 116));
            border-radius: 50px;
        }
        #name,#name-chap,#name-grib,#name-bdn{
            margin-left: 45%;
            text-shadow: 1px 1px 1px white;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            animation-name: moveLacha;
            animation-duration: 10s;
            animation-play-state: running;
            animation-iteration-count: infinite;
            animation-fill-mode: backwards;
        }
        #name-bdn{
            margin-left: 19rem;
        }
        #span-contact{
            color: rgb(247, 247, 247);
            margin-left: 0px;
        }
        span,.link-span{
            color: rgb(172, 243, 8);
            text-shadow: 1px 1px 1px rgb(0, 0, 0);

        }
        #contrat{
            width: 90%;
            height: 20%;
            font-size: 2em;
            border: 1.5px dashed black;

        }
        #petite-pat{
            width: 50vw;
            margin-left: 25%;
            border: 2px solid white ;
            border-radius: 50px;

        }
        .para-write{
            margin: 0%;
        }
        #titre-bene,#collecte,#coeur-para{
            margin-left: 20%;
            
        } 
        #mail-lacha{
            margin:40px ;
            margin-top: 10px;
        }
        
        #h-titre{
            border: 1px solid white ;
        }
        #para-boul,.para{
            background-color:transparent;
        }
        #retour-mission{
            font-size: 2rem; 
        }
        #parchemin{
            height: 100vh;
            background: linear-gradient(135deg,green,rgb(253, 249, 249),rgb(30, 156, 57));
        }#image-bebe-chat{
            background:linear-gradient(135deg,rgb(36, 189, 87),rgb(149, 175, 158),rgb(30, 53, 38)) ;
            width: 100vw;
        }
        #para-h5{
            color: white;
            margin-left: 8%;
            text-shadow: 1px 1px 1px black;
            text-transform:capitalize;
            animation-name: moveLacha;
            animation-iteration-count: infinite;
            animation-duration: 10s;
            font-family: 'Original Surfer', cursive;
            

        }
        .adopt-chat{
            font-size: 22px;
        }
        @media screen and (min-width:1280px) {
            .carousel{
                margin-left: 34%;
                font-size: 5em;
            }
            #titre-adop{
                margin-left:12% ;
            } 
            #deux-chat{
                width: 30%;
                height: 30%;
            }
            #chance{
                font-size: 22px;
                margin-left: 26%;
            }
            
            
        }
        
        
        

        
            
        
        
        
        
    
        
        header{
            background: linear-gradient(135deg,#83a092,#769275,#97aa92);
        }
        #titre-head,#Petite-patte{
            font-size: 32px; 
            animation-name: moveLacha; 
            animation-direction: alternate-reverse;
            animation-name: moveLetter;
            animation-name: moveTextS;
            animation-name: moveAdop;
            animation-duration: 10s;
            animation-play-state: running;
            animation-iteration-count: infinite;
            animation-fill-mode: backwards;
        }
        @keyframes moovin {
            from{
                margin-left: 15px;
            }
            to{
                margin-right: 15px;
            }
        }
        
        }
        @keyframes moveAdop {
            from{
                color: rgb(245, 247, 242);
            }
            25%{
                color: rgb(176, 221, 15);
            }
            50%{
                color: rgb(218, 138, 19);
            }
            to{
                color: rgb(245, 247, 242);
            }
        }

        @keyframes moveLacha {
            from{
                color: rgb(238, 12, 144);
            }
            25%{
                color: rgb(231, 204, 222);
            }
            50%{
                color: rgb(206, 67, 25);
            }
            to{
                color: rgb(238, 12, 144);
            }
        }
        @keyframes changeColTitle{
            from{
                color: rgb(238, 12, 144);
            }
            25%{
                color: rgb(245, 241, 244);
            }
            50%{
                color: rgb(188, 206, 25);
            }
            to{
                color: rgb(248, 11, 11);
            }
        }
        @keyframes moveTitle {
            from {
            margin-left: 100%;
            width: 300%;
            }
            to {
            margin-left: 0%;
            width: 100%;
            }
        }
        @keyframes moveLetter{
            from{
                margin-top: 40px;
            }
            25%{
                margin-bottom: 40px;
            }
            50%{
                margin-top: 20px;
            }
            to{
                margin-top: 40px;
            }
        }
        @keyframes moveTextS{
            from{
                text-shadow: 1px 1px 1px black ;     
            }
            25%{
                text-shadow: 2px 2px 2px rgb(241, 239, 239) ;
            }
            50%{
                text-shadow: 3px 3px 3px rgb(11, 180, 231) ;
            }
            to{
                text-shadow: 1px 1px 1px black ;
            }
        }
        
        
        
        
    }

    
    
    














